/*	Medium Layout: 1280px	*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* css */
}

/* Tablet Layout: 768px.  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* css */
}

/*	Tablet and Mobile Layout   */
@media only screen and (max-width: 991px) {
  /* css */
}

/*	Mobile Layout: 320px.   */
@media only screen and (max-width: 767px) {
  /* css */
}
/*	Mobile Layout: 320px.   */
@media only screen and (max-width: 600px) {
  /* css */
  .title {
    padding: 13px;
  }
  .title h3 {
    font-size: 21px;
  }
  .title p {
    font-size: 18px;
  }
  .dec p {
    font-size: 18px;
    padding: 20px;
  }
  a.btn1 {
    margin-top: 90px;
  }
  .opinion a {
    
    width: 70%;
    padding: 10px 0;
  }
  .col-md-2.text-end {
    width: 20%;
  }
  .col-md-10 {
    width: 80%;
  }
  .footer{
    padding-right:0;
  }
  a.btn-1{
    font-size:18px;
  }

}

/*	Wide Mobile Layout: 480px.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* css */
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  /* css */
}
